body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #EBE284;
    color:#bb4b13 ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

header{
    text-align: center;
}

/*Hero Section*/


#hero, footer {
    color: #3c1688;
    border: 10px solid#4240EA;
    background-color: #C8B6EA;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

/* Bio Section*/

#bio{
    text-align: center;
}


/*Hobbies Section*/



/*Gallery Section*/

#gallery{
    border: 2px solid black;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/*Litature*/
#lit  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}


/* Contact Form */

#formElements{
    display:grid;
    row-gap: 1em
}


#contact {
    padding: 2rem;
    max-width: 750px;
    margin: 5rem auto;
}

fieldset {
    border: 5px solid #bb4b13 ;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

legend {
    background-color: #bb4b13;
    color: white;
    padding: 1rem;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: 1rem;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    color: white;
    background-color: #bb4b13;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}