body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #EBE284;
    color:#bb4b13 ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

header{
    text-align: center;
}

/*Hero Section*/


#hero, footer {
    color: #3c1688;
    border: 10px solid#4240EA;
    background-color: #C8B6EA;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

/* Bio Section*/

#bio{
    text-align: center;
}


/*Hobbies Section*/



/*Gallery Section*/

#gallery{
    border: 2px solid black;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/*Litature*/
#lit  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}